* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  transform: translateX(-100%);
  width: 60%;
  transition: transform 0.2s;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: #121212;
  gap: 1.5rem;
  color: #fff;
  list-style: none;
}

.menu__item {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.menu-open {
  transform: translateX(0);
}

.hamburger {
  all: unset;
  position: absolute;
  z-index: 3;
  cursor: pointer;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: "";
  background-color: #fff;
  display: block;
  position: absolute;
  left: 15px;
  width: 18px;
  height: 1px;
  transform: rotate(0);
  transition: all 0.25s;
}

.hamburger__top-bun {
  top: 23px;
  transform: translateY(-3px);
}

.hamburger__bottom-bun {
  bottom: 23px;
  transform: translateY(3px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger__top-bun {
  transform: rotate(45deg) translateY(0px);
}

.open .hamburger__bottom-bun {
  transform: rotate(-45deg) translateY(0px);
}

.menu__item:hover,
.menu__item:focus {
  text-decoration: underline;
}
