* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Baumans', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

.landing-page {
  display: flex;
}


.menu {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: fixed;
  transform: translateX(100%);
  width: 100%;
  transition: transform 0.2s;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: #121212;
  gap: 1.5rem;
  color: #fff;
  list-style: none;
}

.menu__item {
  display: flex;
  margin-right: 20px;
  justify-content: center;
  /*border: 1px solid #333;
  width: 100%;*/
}

.menu__item:first-child {
  margin-top: 50px;
}
.menu__text {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.menu-open {
  transform: translateY(0);
}

.hamburger {
  all: unset;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 3;
  cursor: pointer;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: "";
  background-color: #fff;
  display: block;
  position: absolute;
  left: 15px;
  width: 18px;
  height: 1px;
  transform: rotate(0);
  transition: all 0.25s;
}

.hamburger__top-bun {
  top: 23px;
  transform: translateY(-3px);
}

.hamburger__bottom-bun {
  bottom: 23px;
  transform: translateY(3px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger__top-bun {
  transform: rotate(45deg) translateY(0px);
}

.open .hamburger__bottom-bun {
  transform: rotate(-45deg) translateY(0px);
}

.menu__text:hover,
.menu__text:focus {
  text-decoration: underline;
}

@media (max-width: 600px) {
}