* {
  /* outline: 1px solid lightgreen; */
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

img {
  width: 100%; /*Doing this will assure the image will never be bigger than its container */
}

/* reusable */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /*Remember to change this somehow */
  min-height: 100vh; /* Changing to 100vh removes the overflow but breaks mobile layout */
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.icon {
  width: 48px;
  height: 48px;
}

/* landing */

.landing-page {
  position: relative;
  background: url(imgs/background.webp) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
}

.landing-dark {
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.35;
}

.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-transform: uppercase;
  font-size: 3em;
  color: white;
}

.landing-paragraph,
.top,
.features__card,
.card__title {
  text-align: center;
}

/* landing glow */

.neon span {
  color: #646464;
  animation: glow 2.5s linear forwards;
}

.neon span:nth-child(1),
.neon span:nth-child(2),
.neon span:nth-child(4) {
  animation-delay: 1s;
}

.neon span:nth-child(3) {
  animation-delay: 1.2s;
}

.neon span:nth-child(5),
.neon span:nth-child(6) {
  animation-delay: 2s;
}

.neon span:nth-child(7),
.neon span:nth-child(9) {
  animation-delay: 2.75s;
}

.neon span:nth-child(8) {
  animation-delay: 3s;
}

h1 {
  z-index: 3;
}

.active-menu {
  border-right: 4px solid #2100f2;
}

/* hamburger menu */
.menu {
  backdrop-filter: blur(8px);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: fixed;
  transform: translateX(100%);
  width: 100%;
  transition: transform 0.2s;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  gap: 1.5rem;
  color: #fff;
  list-style: none;
}

.menu__item {
  display: flex;
  margin-right: 20px;
  justify-content: center;
  /*border: 1px solid #333;
  width: 100%;*/
}

.menu__item:first-child {
  margin-top: 50px;
}

.menu__text {
  margin-right: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.menu-open {
  transform: translateY(0);
}

.hamburger {
  all: unset;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 4;
  cursor: pointer;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: "";
  background-color: #fff;
  display: block;
  position: absolute;
  left: 15px;
  width: 18px;
  height: 1px;
  transform: rotate(0);
  transition: all 0.25s;
}

.hamburger__top-bun {
  top: 23px;
  transform: translateY(-3px);
}

.hamburger__bottom-bun {
  bottom: 23px;
  transform: translateY(3px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger__top-bun {
  transform: rotate(45deg) translateY(0px);
}

.open .hamburger__bottom-bun {
  transform: rotate(-45deg) translateY(0px);
}

.menu__text:active {
  transform: scale(0.98);
}

/* introduction */

.background--black {
  background-color: #121212;
}

.features__card .icon {
  filter: invert(100%) sepia(4%) saturate(678%) hue-rotate(196deg)
    brightness(117%) contrast(100%); /* This changes the svg color, in this case to white */
}

.introduction__title {
  font-size: 2rem;
  margin-top: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}

.paragraph {
  margin-bottom: 2em;
  text-align: center;
}

.card__icon {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 90px;
  height: 90px;
}

.card__icon--features {
  background-color: #43b7ff;
}

#introduction,
#testimonials {
  background-color: black;
  min-height: 70vh;
}

#introduction {
  display: flex;
}

.testimonials.container {
  gap: 2em;
  padding-top: 5em;
}

.card__body {
  border: 1px solid grey;
  border-radius: 12px;
  box-shadow: 0 0 0 1px hsl(0, 0%, 80%);
  width: 100%;
  min-height: 400px;
  text-align: center;
}

.card__title {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.card__title--testimonials {
  margin-top: 2em;
  color: #43b7ff;
}

.card__face {
  border-radius: 50%;
}

.card__face.icon {
  width: 128px;
  height: 128px;
}

@keyframes glow {
  0%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #43b7ff, 0 0 20px #43b7ff, 0 0 40px #43b7ff,
      0 0 50px #43b7ff, 0 0 60px #43b7ff;
  }
}

@keyframes pulsating {
  from {
    text-shadow: 0 0 10px #43b7ff, 0 0 20px #43b7ff, 0 0 40px #43b7ff,
      0 0 50px #43b7ff, 0 0 60px #43b7ff;
  }
  to {
    text-shadow: 0 10px 50px #43b7ff, 0 0 20px #43b7ff, 0 0 40px #43b7ff,
      0 0 50px #43b7ff, 0 0 60px #43b7ff;
  }
}

/*Tablets */

@media (min-width: 600px) {
}

/*Notebooks+Desktop*/

@media (min-width: 900px) {
  .menu__text:hover,
  .menu__text:focus-visible {
    text-decoration: underline;
    transform: scale(1.1);
    animation: glow 2.5s linear infinite;
  }
  .introduction.container {
    min-height: 40vh;
  }
  .introduction.container p {
    margin-bottom: 3em;
  }
  .introduction__title {
    margin-top: 4em;
  }
  .card__icon {
    margin-bottom: 2em;
  }
  .paragraph {
    margin-bottom: 1em;
  }
  .features {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .features__card {
    max-width: 240px;
  }
  .testimonials.container {
    min-height: 80vh;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card__body {
    width: 30%;
  }
  .card__text {
    width: 80%;
    margin: 0 auto;
  }
  .top {
    width: 100%;
  }
}
